<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi , welcome on board! </h1>
    <p>
      You did subscribe CLOTH-UP'S newsletter and you are right !
    </p>
    <p>
      Thank you for your interest towards our clothes. Stay connected ! Stay in the vibe with the latest trends  !!
    </p>
      
    <p> 
  </body>
</html>

