<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>, welcome on board!</h1>
    <p>
      You subscribed using: <%= @user.email %>.
    </p>
    <p>
      Access your account with: <%= @url %>.
    </p>
    <p> See you soon!
  </body>
</html>

