<%= link_to category_path(category) do %>
        <div class="hero-carousel__slide">
<<<<<<< HEAD:app/views/shared/_categoryCard.html.erb
            <%= image_tag category.picture,  class: "img-fluid", alt: 'hero_slide1' %>
=======
          <%= image_tag category.picture,  class: "img-fluid", alt: 'hero_slide1' %>
>>>>>>> 8c782539c2b238a7c269d49a6206eff3a1896456:app/views/shared/_category_card.html.erb
          <div class="hero-carousel__slideOverlay">
            <h3><%= category.name %> </h3>
            <p>Accessories Item</p>
          </div>
        </div>
<<<<<<< HEAD:app/views/shared/_categoryCard.html.erb
 <% end %>
=======
<% end %>
>>>>>>> 8c782539c2b238a7c269d49a6206eff3a1896456:app/views/shared/_category_card.html.erb
