<li>
      <%= item.title%>
      <% item.categories.each do |category| %>
        <%=  category.name %>
      <% end %>
      <span class="ml-3">x 01</span> <span class="ml-3"><%= item.price%> €</span></a>
</li>
<% @item_order.each do |i| %>
   <%= i.quantity %>
<% end %>