<li>
      <%= item.title%>
      <% item.categories.each do |category| %>
        <%=  category.name %>
      <% end %>
      <span class="middle">x 01</span> <span class="last"><%= item.price%> €</span></a>
</li>
