<tr>
    <td>
        <div class="media">
            <div>
                <%= button_to "Delete item", order_path(item), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure ?' } %>
            </div>
            <div class="d-flex">
                <%=image_tag("cart/cart2.png",  alt: 'product1') %>
                <div class="media-body">
                    <div>
                        <p><%= item.title%></p>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td>
        <h5><%= item.price %></h5>
    </td>
</tr>