<tr>
  <td>
    <p><%= item.title%>
    <% item.categories.each do |category| %>
        <%=  category.name %>
       <% end %>
       </p>
  </td>
  <td>
    <h5>x 01</h5>
  </td>
  <td>
    <p><%= item.price%> €</p>
  </td>
</tr>