<tr>
    <td>
        <%= order.created_at.strftime("%Y-%m-%d") %>
    </td>
    <td>
        <%= sum_quantity_of_items(order) %>
    </td>
    <td>
        <%= order.total %>
    </td>
    <td>
        <div>
            <%= link_to "Details", order_path(order.id), method: :get, class: "btn btn-primary" %>
        </div>
    </td>
</tr>