<tr>
    <td>
        <%if item.picture.attached?%>
            <%= image_tag item.picture, alt: 'picture' %>
        <% else %>
            <%=image_tag("product/product1.png", class: "card-img", alt: 'product1') %>
        <% end %>
    </td>
    <td>
        <p><%= item.title%></p>
    </td>
    <td>
        <h5><%= item.price %></h5>
    </td>
</tr>